.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 150px;
  padding: 10px 0;
  border-radius: 5px;
}

.dropdown .dropdown-menu a {
  display: block;
  color: #fff;
  padding: 10px;
}

.dropdown .dropdown-menu a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
